<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>hello</title>
</head>
<body>
   <h1>hello word</h1>   
    
   <div class="caja" id="caja"></div>
   <button id="boton">Buscar imagen</button>
   
   
<script src="src/app.js" type="module"></script>
</body>
</html>

