<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>hello</title>
    <link rel="stylesheet" href="/CSS/stilosDeHello.css">
</head>
<body>
   <h1>API-MORTY</h1>   

<div class="contenedor">
   <div class="caja" id="caja"></div>
   <button  class="boton" id="boton">Buscar imagen</button>
 <button class="volver"><a href ="/">volver al inicio</a></button>


   <%- include('partials/foot') %>  
</div>

 <!--
 1)comenzar con la estructura html para las dos paginas
 2)incluir las imagenes 

********estilos de css*********************************************
1)comenzar con los estilos para fondo 
2)hacer un slader con una imagen de la carpeta img
3)poner efectos de salida de las imagenes
4)cambiar el tipo de lentra de los titulos y textos
5)poner establecer una estructura para,la vision de la pagina
6)separar las imagenes una de otra

-->
<script src="src/app.js" type="module"></script>
</body>
</html>

