<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>hello</title>
   
</head>
<body>

 <img src="img/foto1.jpg" alt="500" width="500" class="imagen1">
      <button class="inicio"><a href ="/api-Morty">Inicio</a></button>

    <h3>Bienvendo a la "API-MORTY" pulse inicion para dar comienzo a la busquedad</h3>
    <%-  include('partials/foot') %>   
</body>
</html >

